body {
  background-color: #ccc;
  margin-top: 20px;
  font-family: 'Anaheim', sans-serif;
}

.hidden {
    display: none;
}
#container {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

article {
  background-color: #ccc;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 15px 10px;
}

h1 {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: blue;
  margin: 10px 15px;
}


